@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.app-header {
    font-family: 'Raleway', sans-serif;
    background: #D9D9D9;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3C3C3C;
    font-size: 24px;
}

.logo-container {
    font-size: 35px;
    padding: 0 100px;
    cursor: pointer;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-links, .social-media {
    display: flex;
    margin: 0 15px 0 0;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
}

.app-links > a {
    padding: 25px 25px;
}
.social-media > div {
    padding: 0px 10px;
}

a.active, a:hover {
    background: #C2C2C2;
    transition: .5s;
}


select {
    background-color: transparent;
    border: none;
    margin: 0 20px 0 0;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
  }